body  {
    margin: auto;
    width: auto;
    height: auto;
    background-color: beige;    
}
  
header  {
    margin: auto;
    flex-wrap: wrap;
    height: 115px;
    background-color: maroon ;  
}
  
.head-nav  {
  display:flex;
  grid-template-columns: 40% 20% 40%;
  margin:auto;  
  height: auto;  
  padding-top: 30px;
  font-family: 'Sans', serif;
}

.navigation a  {
  border: 1pt black solid;
  border-radius: 15%;
  background-color:  darkkhaki;  
  padding: 4pt;
  text-decoration: none;
  color: black;
  font-size: 24px;
}
  
section  {
  text-align: center;
  margin: auto;
}

nav>section  {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
 
  
 h1  {
  font-size: 110px;
  border-bottom: black solid 3pt;
  margin: auto 100pt;
  color: maroon;
  font-family: 'Oswald', sans-serif;
}
  
h2  {
  font-size: 40px;
  color: maroon ;
  padding-bottom: 40px;
  font-family: 'Merriweather', serif;
  font-style:italic;

}  
  
main  {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
  
label  {
  display: block;
  width: 100%;
}
  
select  {
  width: 100pt;
}
  
input  {
  width: 100pt;
  text-align: center;
}
  
.radio  {
  display: flex;
  width: 100pt;    
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
  
textarea  {
  width: 200pt;
  height: 40pt;
}
  
form>div  {
  padding-bottom: 20pt;
}
  
form  {
  border: 2pt solid black;
  border-radius: 12%;
  padding-top: 40pt;
  padding-bottom: 5pt;
  width: 400pt;
  background: linear-gradient(180deg, #817587 0%, hsl(58, 96%, 47%) 100%);
  font-family: 'Merriweather', serif;
  font-size: 10pt;
}
  
.content label {
  font-size: 24px;
}
 
.contact-back  {
  font-size: 22px;
  padding-bottom: 10px;
}
  
button  {
  font-size: 24px;
}

footer  {
  background-color: maroon ;
  margin: auto;
}

ul {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  list-style: none;
  padding: 0;
  margin: 0;  
}

li {
  display: block;
  margin-right: 1em;  
}

li:last-child {
  margin-right: 0;  
}

svg {
  display: block;
  fill: #aaa;
}

h3  {
  display: flex;  
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 0;
}


.follow-us  {
  color: black;
  margin-top: 0;
}

.icons  {
  display: flex;
  justify-content: space-evenly;
}

.follow-us a  {
  text-decoration: none;
  color: black;
}
  
@media (max-width: 840px)  {
   
header  {
  margin: auto;
  height: auto;
  background-color: rgb(183, 132, 3) ;
}
    
.head-nav  {
  flex-wrap: wrap;
  margin: auto;    
  height: auto;
  padding-top: 10px;
  align-items: center;
  font-family: 'Merriweather', serif;
}
    
.head-nav a  {
  font-size: 16px;
}
    
main  {
  width: auto;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
}
    
section.title  {
  width: 375px;
  margin: auto;
}
    
h1  {
  width: 375px;
  font-size: 40pt;
  margin: 0 auto;
}
    
form  {
  width: 360px;
}
    
textarea  {
  width: 150pt;
}